@charset "UTF-8";
/* ========================================================
	reset.css
	Format,Font Reset
======================================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Noto+Serif+JP:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  border: 0;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  font: inherit;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Noto Serif JP", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #333333;
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  animation: fadeIn 2s ease 0s 1 normal;
}
body:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
body.fixed {
  position: fixed;
  width: 100%;
}
body.fixed:after {
  z-index: 90;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1024px) {
  body {
    padding-top: 70px;
  }
}
@media (max-width: 480px) {
  body {
    padding-top: 60px;
    font-size: 1.4rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a, a:link, a:visited {
  color: #333333;
  text-decoration: none;
  transition: 0.5s;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
  transition: 0.5s;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1120px;
  height: auto;
  box-sizing: border-box;
}
.container .innerBox {
  margin: auto;
  width: 92%;
  max-width: 1100px;
  height: auto;
  box-sizing: border-box;
}

main {
  display: block;
}

/*============================================================================
	missionWrap
=============================================================================*/
#missionWrap {
  margin: 100px auto 500px;
  width: 100%;
  position: relative;
}
#missionWrap .marqueeTextArea {
  padding: 0 0 0 100%;
  font-size: 10rem;
  line-height: 1;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
#missionWrap .marqueeTextArea .marqueeTarget p {
  margin: 0;
  width: fit-content;
  white-space: nowrap;
}

/*============================================================================
	手書きJS
=============================================================================*/
.stretchLineBox {
  padding: 50vh 0;
  width: 100%;
  height: auto;
}
.stretchLineBox .line {
  margin: auto;
  width: 100vw;
  height: 5px;
  background: #EC4E20;
  transform: scale(0);
}

/*
.contents {
    position: relative;
    width: 100%;
    height: 100vh;
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 5px;
    background: #EC4E20;
}
*/
/*============================================================================
	スライドマスク
=============================================================================*/
/* css版 */
.colorSlide {
  margin: auto;
  background-color: transparent;
  opacity: 0;
  overflow: hidden;
}
.colorSlide.isPlay {
  animation-name: play;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.8, 0, 0.5, 1);
  position: relative;
  opacity: 1 !important;
}
.colorSlide.isPlay::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name: maskOut;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.8, 0, 0.5, 1);
}

@keyframes play {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes maskOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
/*============================================================================
	スライドマスク scrollTrigger版
=============================================================================*/
.maskimgWrap02 {
  margin: 20vh auto;
  width: 100%;
}
.maskimgWrap02 .imageList02 .colorSlide_st {
  position: relative;
  overflow: hidden;
}
.maskimgWrap02 .imageList02 .colorSlide_st a img {
  clip-path: polygon(26.8% 0%, 100% 0%, 73.2% 100%, 0% 100%);
}
.maskimgWrap02 .imageList02 .colorSlide_st figcaption {
  width: 100%;
  height: 100%;
  background: #ff553c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*============================================================================
	真ん中からアニメーション
=============================================================================*/
.centerSeparate {
  margin: auto;
  max-width: 1120px;
  width: 90%;
}
.centerSeparate .boxWrap {
  width: 50%;
  overflow-x: hidden;
  position: relative;
}
.centerSeparate .boxWrap::before {
  content: "";
  padding-top: 92.3%;
  display: block;
}
.centerSeparate .boxWrap .boxL, .centerSeparate .boxWrap .boxR {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.centerSeparate .boxWrap .boxL {
  background: #cfd8d8;
  border-radius: 6.94vw 0 0 0;
  left: 100%;
}
.centerSeparate .boxWrap .boxR {
  background: #0f3c3c;
  border-radius: 0 0 6.94vw 0;
  right: 100%;
}
.centerSeparate .boxWrap:last-of-type {
  top: 40px;
}

nav {
  padding: min(80px,8.334vw) 0;
  background: #f5f5f5;
}
nav ul {
  margin: auto;
  max-width: 1120px;
  width: 90%;
}
nav ul li {
  list-style: disc;
}
nav ul li + li {
  margin-top: 15px;
}

/*============================================================================
	regulation
=============================================================================*/
/*============================================================================
	調整用
=============================================================================*/
.fl {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.fl-tab {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
@media (max-width: 1024px) {
  .fl-tab {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
}

.fl-smp {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
@media (max-width: 480px) {
  .fl-smp {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
}

.fl-jst {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fl-cen {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fl-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fl-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fl-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fl-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.mt0 {
  margin-top: min(0vw,0px);
}

.mb0 {
  margin-bottom: min(0vw,0px);
}

.pt0 {
  padding-top: min(0vw,0px);
}

.pb0 {
  padding-bottom: min(0vw,0px);
}

.mt40 {
  margin-top: min(3vw,40px);
}

.mb40 {
  margin-bottom: min(3vw,40px);
}

.pt40 {
  padding-top: min(3vw,40px);
}

.pb40 {
  padding-bottom: min(3vw,40px);
}

.mt80 {
  margin-top: min(6vw,80px);
}

.mb80 {
  margin-bottom: min(6vw,80px);
}

.pt80 {
  padding-top: min(6vw,80px);
}

.pb80 {
  padding-bottom: min(6vw,80px);
}

.mt120 {
  margin-top: min(9vw,120px);
}

.mb120 {
  margin-bottom: min(9vw,120px);
}

.pt120 {
  padding-top: min(9vw,120px);
}

.pb120 {
  padding-bottom: min(9vw,120px);
}

.mt160 {
  margin-top: min(12vw,160px);
}

.mb160 {
  margin-bottom: min(12vw,160px);
}

.pt160 {
  padding-top: min(12vw,160px);
}

.pb160 {
  padding-bottom: min(12vw,160px);
}

.mt200 {
  margin-top: min(15vw,200px);
}

.mb200 {
  margin-bottom: min(15vw,200px);
}

.pt200 {
  padding-top: min(15vw,200px);
}

.pb200 {
  padding-bottom: min(15vw,200px);
}

.mt240 {
  margin-top: min(18vw,240px);
}

.mb240 {
  margin-bottom: min(18vw,240px);
}

.pt240 {
  padding-top: min(18vw,240px);
}

.pb240 {
  padding-bottom: min(18vw,240px);
}

.mt280 {
  margin-top: min(21vw,280px);
}

.mb280 {
  margin-bottom: min(21vw,280px);
}

.pt280 {
  padding-top: min(21vw,280px);
}

.pb280 {
  padding-bottom: min(21vw,280px);
}

.mt320 {
  margin-top: min(24vw,320px);
}

.mb320 {
  margin-bottom: min(24vw,320px);
}

.pt320 {
  padding-top: min(24vw,320px);
}

.pb320 {
  padding-bottom: min(24vw,320px);
}

.mt360 {
  margin-top: min(27vw,360px);
}

.mb360 {
  margin-bottom: min(27vw,360px);
}

.pt360 {
  padding-top: min(27vw,360px);
}

.pb360 {
  padding-bottom: min(27vw,360px);
}

.mt400 {
  margin-top: min(30vw,400px);
}

.mb400 {
  margin-bottom: min(30vw,400px);
}

.pt400 {
  padding-top: min(30vw,400px);
}

.pb400 {
  padding-bottom: min(30vw,400px);
}

br {
  display: inline;
}
@media (min-width: 1201pxpx) {
  br.showPC {
    display: none !important;
  }
}
@media (min-width: 1025pxpx) {
  br.showTab {
    display: none !important;
  }
}
@media (min-width: 481pxpx) {
  br.showSP {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  br.hdnPC {
    display: none;
  }
  br.showPC {
    display: inherit;
  }
}
@media (max-width: 1024px) {
  br.hdnTab {
    display: none;
  }
  br.showTab {
    display: inherit;
  }
}
@media (max-width: 480px) {
  br.hdnSP {
    display: none;
  }
  br.showSP {
    display: inherit;
  }
}

span {
  display: inline-block;
}
@media (min-width: 1201pxpx) {
  span.showPC {
    display: none !important;
  }
}
@media (min-width: 1025pxpx) {
  span.showTab {
    display: none !important;
  }
}
@media (min-width: 481pxpx) {
  span.showSP {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  span.hdnPC {
    display: none !important;
  }
  span.showPC {
    display: inherit;
  }
}
@media (max-width: 1024px) {
  span.hdnTab {
    display: none !important;
  }
  span.showTab {
    display: inherit;
  }
}
@media (max-width: 480px) {
  span.hdnSP {
    display: none !important;
  }
  span.showSP {
    display: inherit;
  }
}

p, div, figure, ul {
  display: block;
}
@media (min-width: 1201pxpx) {
  p.showPC, div.showPC, figure.showPC, ul.showPC {
    display: none !important;
  }
}
@media (min-width: 1025pxpx) {
  p.showTab, div.showTab, figure.showTab, ul.showTab {
    display: none !important;
  }
}
@media (min-width: 481pxpx) {
  p.showSP, div.showSP, figure.showSP, ul.showSP {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  p.hdnPC, div.hdnPC, figure.hdnPC, ul.hdnPC {
    display: none !important;
  }
  p.showPC, div.showPC, figure.showPC, ul.showPC {
    display: inherit;
  }
}
@media (max-width: 1024px) {
  p.hdnTab, div.hdnTab, figure.hdnTab, ul.hdnTab {
    display: none !important;
  }
  p.showTab, div.showTab, figure.showTab, ul.showTab {
    display: inherit;
  }
}
@media (max-width: 480px) {
  p.hdnSP, div.hdnSP, figure.hdnSP, ul.hdnSP {
    display: none !important;
  }
  p.showSP, div.showSP, figure.showSP, ul.showSP {
    display: inherit;
  }
}

.ta_cnt {
  text-align: center;
}

.ta_right {
  text-align: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}/*# sourceMappingURL=common.css.map */